{:paths ["resources" "src"]
 :deps {org.clojure/clojure {:mvn/version "RELEASE"}
        org.martinklepsch/clj-http-lite {:mvn/version "0.4.3"}
        cheshire {:mvn/version "5.10.0"}
        com.taoensso/timbre {:mvn/version "4.10.0"}
        com.amazonaws/aws-lambda-java-core {:mvn/version "1.2.0"}}
 :aliases
 {:test {:main-opts ["-m" "kaocha.runner"]
         :extra-paths ["test-resources" "test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-529"}
                      com.taoensso/timbre {:mvn/version "4.10.0"}}}}}
